#body {
  width:100%;
  margin:0px;
  padding:0px;
  /*background-color:transparent;*/
  background-color:rgb(240, 240, 240);
}

.entry {
  border-width:1px;
  border-style:solid;
  border-color:lightgray;
  border-radius:5px;
  padding:5px;
  margin:5px;
  /*display:none;*/
}

.name {
  font-weight:bold;
}

.parameter {
  font-style:italic;
}

div.explanation h2 {
  font-size:medium;
  font-weight:normal;
}

.examples {
}

.category {
  font-style:italic;
}
